<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>BAM - BGP Atlas Monitor</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/dashboard.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BAM - BGP Atlas Monitor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="ASN ...">
          </form>
        </div>
      <form id="fancy-display">
        <div id="gmaps" style="color:gray;background-color:white;float:left;padding:8px;">Probes Map</div>
        <div id="v4" style="color:white;float:left;padding:8px;">IPv4</div>
        <div id="v6" style="color:white;float:left;padding:8px;">IPv6</div>
      </form>
      </div>
    </nav>

        <br />
  <img src="/logo.png">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
          </ul>
        </div> -->
        <!-- <div class="col-sm-9 col-sm-offset-3 col-md-12 col-md-offset-2 main">-->
      <br />
      <br />
      <br />  

        <div class="col-sm-9 col-md-12 main">
          <h1 class="page-header">Dashboard for AS{{ asn }}</h1>
  
{% autoescape false %}
    {{ mape }}
{% endautoescape %}

          <div class="panel panel-default" id="v4-pane" style="display:none;">
            <!-- Default panel contents -->
            <div class="panel-heading">IPv4<sup><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="This shows a detailed IP Routes List"></span></sup></div>
            <!-- Table -->
            <div class="table-responsive">
              <table id="ipv4" class="display" cellspacing="0" width="100%">
              </table>
            </div>
            
          </div>

          <div class="panel panel-default" style="display:none;" id="v6-pane">
            <!-- Default panel contents -->
            <div class="panel-heading">IPv6<sup><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="This shows a detailed IP Routes List"></span></sup></div>
            <!-- Table -->
            <div class="table-responsive">
              <table id="ipv6" class="display" cellspacing="0" width="100%">
              </table>
            </div>
            
          </div>

          <script>

/*         var xmlhttp = new XMLHttpRequest();
          var url = "../get_prefixes";

          xmlhttp.onreadystatechange = function() {
              if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                  var myArr = JSON.parse(xmlhttp.responseText);
                  myFunction(myArr);
              }
          }
          xmlhttp.open("GET", url, true);
          xmlhttp.send();*/


          $.ajax({
            method: "GET",
            url: "../get_prefixes"
            
          })
            .done(function( msg ) {
              //alert( "Data Saved: " + msg );
              var myArr = JSON.parse(msg);
              $.ajax({
                method: "GET",
                url: "../get_visibility"
                
              })
                .done(function( msg ) {
                  //alert( "Data Saved: " + msg );
                  var myArr2 = JSON.parse(msg);
                  myFunction(myArr,myArr2);
                });
              
            });



            //var timerId = setInterval(timerMethod, 1000);    //60,000 milliseconds
            timerMethod();


          function myFunction(prefixes,visibility) {

              var header = "<thead><tr><th>IP</th><th>RRC00</th><th>RRC01</th><th>RRC03</th><th>RRC04</th><th>RRC05</th><th>RRC06</th><th>RRC07</th><th>RRC10</th><th>RRC11</th><th>RRC12</th><th>RRC13</th><th>RRC14</th><th>RRC15</th></tr></thead><tbody>";
              var footer = "</tbody><tfooter><tr><th>IP</th><th>RRC00</th><th>RRC01</th><th>RRC03</th><th>RRC04</th><th>RRC05</th><th>RRC06</th><th>RRC07</th><th>RRC10</th><th>RRC11</th><th>RRC12</th><th>RRC13</th><th>RRC14</th><th>RRC15</th></tr></tfooter>";

              var outv4 = header;
              var outv6 = header;
              var i;
              var j;
              prefixes.v4.sort();
              prefixes.v6.sort();

              // do the v4 Stuff
              for(i = 0; i < prefixes.v4.length; i++) {
                var id = prefixes.v4[i].replace(/\./g,"_");
                id = id.replace("/","-");
                outv4 += '<tr><td id=' + id +'>' + prefixes.v4[i] + '</td>';
                for(j = 0; j < visibility.visibilities.length; j++) {
                  if (visibility.visibilities[j] != null) {
                    outv4 += '<td style="padding:0px;" id=' + id + visibility.visibilities[j].name +'>' + visibility.visibilities[j].ipv4_peer_percentage + '</td>';
                  }
                }
                outv4 += '</tr>';
              }

              // do the v6 Stuff
              for(i = 0; i < prefixes.v6.length; i++) {
                var id = prefixes.v6[i].replace(/\:/g,"_");
                id = id.replace("/","-");
                outv6 += '<tr><td id=' + id +'>' + prefixes.v6[i] + '</td>';
                for(j = 0; j < visibility.visibilities.length; j++) {
                  if (visibility.visibilities[j] != null) {
                    outv6 += '<td  style="padding:0px;" id=' + id + visibility.visibilities[j].name +'>' + visibility.visibilities[j].ipv6_peer_percentage + '</td>';
                  }
                }
                outv6 += '</tr>';
              }

              outv4 += footer;
              outv6 += footer;

              document.getElementById("ipv4").innerHTML = outv4;
              document.getElementById("ipv6").innerHTML = outv6;
              var v4tabelle = $('#ipv4');
              var v6tabelle = $('#ipv6');

              v4tabelle.DataTable(
              {"columnDefs": [ 
                {
                  "render": function ( data, type, row ) {
                    value = Math.round(data*37);
                    other_value = 37 - value;
                    return '<table border=0 cellspacing=0 cellpadding=0 style="width:100%;"><tr><td style="padding:0px;"><div style="width:100%;height:'+ other_value +'px;padding:0px;background-color:white;"></div></td></tr><tr><td  style="padding:0px;"><div style="width:100%;height:'+ value +'px;padding:0px;background-color:#008080;"></div></td></tr></table>';
                  },
                "targets": [1,2,3,4,5,6,7,8,9,10,11,12,13]
                }
                ]
              }
              );
              v6tabelle.DataTable(
              {"columnDefs": [ 
                {
                  "render": function ( data, type, row ) {
                    value = Math.round(data*37);
                    other_value = 37 - value;
                    return '<table border=0 cellspacing=0 cellpadding=0 style="width:100%;"><tr><td  style="padding:0px;"><div style="width:82px;height:'+ other_value +'px;padding:0px;background-color:white;"></div></td></tr><tr><td  style="padding:0px;"><div style="width:100%;height:'+ value +'px;padding:0px;background-color:#008080;"></div></td></tr></table>';
                  },
                "targets": [1,2,3,4,5,6,7,8,9,10,11,12,13]
                }
                ]
              }
              );

              //console.log(tabelle);
          }

          function timerMethod() {
              var i;

              var v4tabelle = $('#ipv4 tbody tr').map(function() {
                // $(this) is used more than once; cache it for performance.
                var $row = $(this);
               
                // For each row that's "mapped", return an object that
                //  describes the first and second <td> in the row.
                return {
                  prefix: $row.find(':nth-child(1)').text()
                };
              }).get();

              for(i = 0; i < v4tabelle.length-1; i++) {
                if (v4tabelle[i].prefix == "" || v4tabelle[i].prefix == "IP") continue;
                console.log(v4tabelle[i]);
                var v4prefix = v4tabelle[i].prefix;

                $.ajax({
                  method: "GET",
                  url: '../get_visibility_prefix/' + v4tabelle[i].prefix
                })
                  .done(function( msg ) {
                    //alert( "Data Saved: " + msg );
                    var myArr = JSON.parse(msg);
                    //console.log(myArr);

                    changeTableCellipv4(v4prefix , myArr);
                  });
              }
              


              var v6tabelle = $('#ipv6 tbody tr').map(function() {
                // $(this) is used more than once; cache it for performance.
                var $row = $(this);
               
                // For each row that's "mapped", return an object that
                //  describes the first and second <td> in the row.
                return {
                  prefix: $row.find(':nth-child(1)').text()
                };
              }).get();

              for(i = 0; i < v6tabelle.length-1; i++) {
                if (v6tabelle[i].prefix == "" || v6tabelle[i].prefix == "IP") continue;
                console.log(v6tabelle[i]);
                var v6prefix = v6tabelle[i].prefix;

                $.ajax({
                  method: "GET",
                  url: '../get_visibility_prefix/' + v6tabelle[i].prefix
                })
                  .done(function( msg ) {
                    //alert( "Data Saved: " + msg );
                    var myArr = JSON.parse(msg);
                    //console.log(myArr);

                    changeTableCellipv6(v6prefix , myArr);
                  });
              }
              setTimeout(timerMethod,60000);
          }

          function changeTableCellipv4(prefix, visibility_prefix) {
              var tabelle = $('#ipv4').DataTable();
              var id = prefix.replace(/\./g,"_");
              id = id.replace("/","-");
              id = '#'+id;
              console.log("V4 Prefix");
              console.log(prefix);


              var j;

              for(j = 0; j < visibility_prefix.visibilities.length; j++) {
                if (visibility_prefix.visibilities[j] != null) {
                  //sleep(1);

                  console.log("visibility value:")
                  console.log(visibility_prefix.visibilities[j].peer_percentage);
                
                  var newid = id + visibility_prefix.visibilities[j].name;
                  console.log("search for id");
                  console.log(newid);
                  
                  if (tabelle.cell(newid).data() != visibility_prefix.visibilities[j].peer_percentage) {
                      console.log('Change from: ' + tabelle.cell(newid).data() + ' to: ' + visibility_prefix.visibilities[j].peer_percentage + ' Detected!');
                      tabelle.cell(newid).data(visibility_prefix.visibilities[j].peer_percentage).draw();
                  }
                }
              }

          }

          function changeTableCellipv6(prefix, visibility_prefix) {
              var tabelle = $('#ipv6').DataTable();
              var id = prefix.replace(/\:/g,"_");
              id = id.replace("/","-");
              id = '#'+id;


              var j;

              for(j = 0; j < visibility_prefix.visibilities.length; j++) {
                if (visibility_prefix.visibilities[j] != null) {
                  //sleep(1);
                  var newid = id + visibility_prefix.visibilities[j].name;
                  
                  if (tabelle.cell(newid).data() != visibility_prefix.visibilities[j].peer_percentage) {
                      console.log('Change from: ' + tabelle.cell(newid).data() + ' to: ' + visibility_prefix.visibilities[j].peer_percentage + ' Detected!');
                      tabelle.cell(newid).data(visibility_prefix.visibilities[j].peer_percentage).draw();
                  }
                }
              }

          }


          </script>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>

 
    <!-- Javascript to toggle display for a said tab -->
 
    <script>
    $("#gmaps").click(function() {
      if ($("#gmaps-pane").css('display') != "none")
      {
        $("#gmaps").css('background-color', '');
        $("#gmaps").css('color', 'white');
        
      } else {
        $("#gmaps").css('background-color', 'white');
        $("#gmaps").css('color', 'gray');
        $("#v4").css('background-color', '');
        $("#v4").css('color', 'white');
        $("#v6").css('background-color', '');
        $("#v6").css('color', 'white');
        $("#v4-pane").css('display', 'none');
        $("#v6-pane").css('display', 'none');
      }
      $("#gmaps-pane").toggle();
    });

    $("#v4").click(function() {
      if ($("#v4-pane").css('display') != "none")
      {
        $("#v4").css('background-color', '');
        $("#v4").css('color', 'white');
      } else {
        $("#v4").css('background-color', 'white');
        $("#v4").css('color', 'gray');
        $("#gmaps").css('background-color', '');
        $("#gmaps").css('color', 'white');
        $("#v6").css('background-color', '');
        $("#v6").css('color', 'white');
        $("#gmaps-pane").css('display', 'none');
        $("#v6-pane").css('display', 'none');
      }

     $("#v4-pane").toggle();
    });
    $("#v6").click(function() {
      if ($("#v6-pane").css('display') != "none")
      {
        $("#v6").css('background-color', '');
        $("#v6").css('color', 'white');
      } else {
        $("#v6").css('background-color', 'white');
        $("#v6").css('color', 'gray');
        $("#gmaps").css('background-color', '');
        $("#gmaps").css('color', 'white');
        $("#v4").css('background-color', '');
        $("#v4").css('color', 'white');
        $("#gmaps-pane").css('display', 'none');
        $("#v4-pane").css('display', 'none');
      }

     $("#v6-pane").toggle();
    });
      </script>
  </body>
</html>
