    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
    <script type="text/javascript">

      // Some "global" variables
      var the_map = [];
      var markers = [];

      // Ease the creation of circles
      function addCircle(map, latitude, longitude, color, content)
      {
        // Add a circle
        var infowindow = new google.maps.InfoWindow({ content: content });
        var latlng = new google.maps.LatLng(latitude, longitude);

        var outer_circle_options = {
          strokeColor: color,
          fillColor: color,
          fillOpacity: 1,
          map: map,
          center: latlng,
          radius: {{ radius }},
          clickable: true,
          fillOpacity: 0.5,
          strokeOpacity: 0.5,
        };
        var outer_circle = new google.maps.Circle(outer_circle_options);
        google.maps.event.addListener(outer_circle, 'click', function(){
            infowindow.setPosition(outer_circle.getCenter());
            infowindow.open(map, outer_circle);
        });
        return outer_circle;
      }

      // Get data from JSON and add markers
      function update_markers() {
        $.ajax({
          method: "GET",
          url: "../{{ source }}"
              
        })
          .done(function( msg ) {

            // Parse JSON
            var data = JSON.parse(msg);


            // Put new markers
            var new_markers = [];
            {% if source == "get_visibility" %}
            for (var i = 0; i < data.visibilities.length; i++) {
              var thing = data.visibilities[i];
            {% else %}
            for (var i = 0; i < data.length; i++) {
              var thing = data[i];
            {% endif %}
              //console.log(thing);
              if (thing)
              {
            {% if source == "get_visibility" %}
                var circle = addCircle(the_map, thing.latitude, thing.longitude, thing.color, thing.name);
            {% else %}
                var circle = addCircle(the_map, thing.latitude, thing.longitude, thing.color, ""+thing.id);
            {% endif %}
                new_markers.push(circle);
              }
             }

            // Remove old markers
            for (var i = 0; i < markers.length; i++)
              markers[i].setMap(null);
            markers = new_markers;
            });
      }

      // What to do when loading the map
      function initialize() {

        // Prepare the map
        var mapOptions = {
          center: { lat: {{ latitude }}, lng: {{ longitude }}},
          zoom: {{ zoom }}
        };
        var map = new google.maps.Map(document.getElementById('{{name}}-pane'), mapOptions);
        the_map = map;

        update_markers();

      }

      // Load the map
      google.maps.event.addDomListener(window, 'load', initialize);

      // Refresh the map
      setInterval(function () { update_markers() },
         5000);
         //30 * 1000);
    </script>
    <div id="{{name}}-pane" style="height:800px;"></div>
